<h2><%=@game.title%></h2>
<p>Status:
  <%if @game.renter == nil%>
    Available
  <%else%>
    Rented by <%=@game.find_renter.full_name%>
  <%end%></p>
<p>Genre: <%=@game.genre%></p>
<p>Theme: <%=@game.theme%></p>

<form method='post' action='/games/<%=@game.id%>/delete'/>
<input type="submit" value="Delete Game"/>
</form>
