<div class="heading">
  <h2><%=@customer.full_name%></h2>
</div>

<div class="list">
  <p>Age: <%=@customer.age%></p>
  <p>Gender: <%=@customer.gender%></p>
</div>

<div class="button_container">
  <form method='get' action='/rentals/<%=@customer.id%>/new'/>
    <input class="button" type='submit' value="Create New Rental">
  </form>

  <form method='get' action='/customers/<%=@customer.id%>/edit'/>
    <input class="button" type="submit" value="Amend Customer Details"/>
  </form>

  <form method='post' action='/customers/<%=@customer.id%>/delete'/>
    <input class="button" type="submit" value="Delete Customer"/>
  </form>
</div>
